img
	 {
	  width:100px;
	  height:100px;
	 }
body
     {
		 background-size: cover;
	 }
h2
{
	font-size:300%;
	text-align: center;
    color: yellow;
}
p
{
	font-size: 200%;
}
ul li
{
	display: inline-block;
	font-size:200%;
	padding:1px 20px;
	border:1px solid black;
	background-color: yellow;
}
ul
{
	text-align: center;
}